[Unit]
Description=Statsd Service
After=syslog.target network.target

[Service]
Type=simple
Environment="PREFIX=/usr/local"
Group=statsd
User=statsd
ExecStart=/bin/sh -c "${PREFIX}/bin/statsd /etc/statsd/config.js"

[Install]
WantedBy=multi-user.target
