[Unit]
Description=Statsd Service
After=syslog.target network.target

[Service]
Type=simple
Environment="PREFIX=/usr/local"
Environment="NODE=/usr/bin/nodejs"
Environment="ARGS=2>&1 >> /var/log/statsd/statsd.log"
Group=statsd
User=statsd
ExecStart=/bin/sh -c "${NODE} ${PREFIX}/bin/statsd /etc/statsd/config.js ${ARGS}"

[Install]
WantedBy=multi-user.target
