[Unit]
Description=Statsd Service
After=syslog.target network.target

[Service]
Type=simple
Group=statsd
User=statsd
ExecStart=/usr/bin/statsd /etc/statsd/config.js

[Install]
WantedBy=multi-user.target
